@model Com.MrIT.ViewModels.VmSysUser
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout_Public.cshtml";
}

<div class="register-box offset-md-4">
    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>

            <form id="myForm" asp-action="Register" method="POST">
                <div class="input-group mb-3 has-feedback">
                    <input type="text" asp-for="Name" class="form-control" placeholder="Full name" required autofocus>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="text" name="PreNumber" value="+95" readonly class="form-control col-sm-3" style="width:40px;" /> <input type="text" asp-for="MobileNo" class="form-control col-sm-8" placeholder="Mobile No. (0998765432)" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-phone"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="MobileNo" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="email" asp-for="Email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>


                <div class="row">
                    <div class="col-12">
                        @{
                            if (TempData["ErrorMessage"] != null)
                            {
                                <span class="text-danger"> @TempData["ErrorMessage"] </span>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                            <label for="agreeTerms">
                                I agree to the <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">

                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <div class="social-auth-links text-center">
                <button type="submit" class="btn btn-primary btn-block" onclick="FormSubmit();">Register</button>
            </div>

            <a href="@Url.Action("SignIn","Users")" class="text-center">I already have a membership</a>
        </div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->
<br />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>

    function FormSubmit() {
        var email = $('#Email').val();
        var mobileNo = $('#MobileNo').val();
        if (mobileNo == "") {
            alert("Mobile number is required!");
        }
        else {

            $('#myForm').submit();

        }
    }
</script>