@model Com.MrIT.ViewModels.VmMrUser
@{
    ViewData["Title"] = "Sign In";
    Layout = "~/Views/Shared/_Layout_Public.cshtml";

    string currenturl = ViewBag.CurrentUrl;
}

<div class="row">
    <div class="col-sm-12">
        <div class="login-box offset-md-4">
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Sign in to start your session</p>

                    <form asp-action="SignIn" method="post">
                        <div class="input-group">
                            <div class="col-sm-4">
                                <input type="radio" name="rdSignType" value="MobileNo" checked />  <label class="form-label"> Mobile No.</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="radio" name="rdSignType" value="Email" />  <label class="form-label"> Email</label>
                            </div>

                            <div class="col-sm-4">
                                <input type="radio" name="rdSignType" value="TIN" />  <label class="form-label"> TIN No.</label>
                            </div>

                        </div>
                        <input type="hidden" name="currenturl" value="@currenturl" />
                        <div class="input-group mb-3" id="divEmail" style="display:none;">
                            <input type="email" asp-for="Email" class="form-control" placeholder="Email"  >
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3" id="divMobileNo">
                            <input type="text" name="PreNumber" value="+95" readonly class="form-control col-sm-3" style="width:40px;" /> <input type="text" asp-for="MobileNo" class="form-control col-sm-8" placeholder="Mobile No. (0998765432)"  autofocus>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-phone"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3" id="divTIN"  style="display:none;">
                            <input type="text" name="TIN" class="form-control" placeholder="TIN No."  autofocus>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-registered"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <!-- /.col -->
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @{
                                    if (TempData["ErrorMessage"] != null)
                                    {
                                        <span class="text-danger"> @TempData["ErrorMessage"] </span>
                                    }
                                }
                            </div>
                        </div>
                    </form>

                  
                    <p class="mb-0">
                        <a href="@Url.Action("Register","Users")" class="text-center">Register a new membership</a>
                    </p>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
        <!-- /.login-box -->
    </div>
</div>
<script>
    
    $('input[type=radio][name=rdSignType]').change(function () {
        
            if (this.value == 'MobileNo') {
                $("#divEmail").hide();
                $("#divTIN").hide();
                $("#divMobileNo").show();
            }
            else if (this.value == 'Email') {
                $("#divEmail").show();
                $("#divTIN").hide();
                $("#divMobileNo").hide();
        }
            else if (this.value == 'TIN') {
                $("#divEmail").hide();
                $("#divTIN").show();
                $("#divMobileNo").hide();
            }
        });
    
</script>